[Desktop Entry]
Name=PixCar
Comment=Car race game
Comment[es]=Juego de carreras
Exec=pixcar
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=car
Categories=GNOME;Game;
StartupNotify=true
